{% extends 'KaikmediaAdminLTETheme:Layout:plain.html.twig' %}
{% block head %}
    {{ parent() }}
{#    <link href="{{ pageAddAsset('stylesheet', zasset("@KaikmediaAdminLTETheme:adminlte/plugins/iCheck/square/blue.css"), 98)  }}" rel="stylesheet" type="text/css" />   #}
{% endblock %} 
{% block body %}
    <body class="hold-transition plain-page">
    {% endblock %}
    {% block content %}
        <div class="col-md-5 col-centered">
            {{ maincontent|raw }}
        </div>
    {% endblock %}
    {% block footer %}
{#        <script src="{{ pageAddAsset('javascript', zasset('@KaikmediaAdminLTETheme:adminlte/plugins/iCheck/icheck.min.js'), 98)  }}"></script>
        <script>
            (function ($) {
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });
            })(jQuery);
        </script>#}
    {% endblock %}
