<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
	{#% include 'ZikulaAdminLTETheme:MainMenu:user.main_menu.html.twig' %#}
	{% include 'ZikulaAdminLTETheme:MainMenu:search.main_menu.html.twig' %}
	{% include 'ZikulaAdminLTETheme:MainMenu:navigation.main_menu.html.twig' %} 
    </section>
    <!-- /.sidebar -->
  </aside>






