      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		{% include 'ZikulaAdminLTETheme:StatusBar:messages.status_bar.html.twig' %}
		{% include 'ZikulaAdminLTETheme:StatusBar:notifications.status_bar.html.twig' %}
		{% include 'ZikulaAdminLTETheme:StatusBar:tasks.status_bar.html.twig' %}        
		{% include 'ZikulaAdminLTETheme:StatusBar:user.status_bar.html.twig' %}
        </ul>
      </div>